* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  padding-inline: 1em;
  padding-block: 4em 2em;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.container p {
  font-size: clamp(1rem, 0.4545rem + 2.9091vw, 3rem);
  font-weight: 900;
  text-align: center;
  background-image: linear-gradient(to left, #d4145a, #fbb03b);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
#saving-details {
  padding-block: 3em;
  padding-inline: 4em 3em;
  background-color: #fff;
  margin-block-start: 2em;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.34);
}
.lists {
  position: relative;
  font-size: clamp(0.8rem, 0.6091rem + 1.0182vw, 1.5rem);
  font-weight: 400;
  list-style-type: none;
  padding-block: 20px;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}
.lists:last-child {
  border-bottom: none;
}
.lists::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-image: url("./images/unchecked.png");
  background-size: cover;
  background-position: center;
  left: -40px;
  top: 40%;
}
.lists.checked {
  color: #ccc;
  text-decoration: line-through;
}
.lists.checked::before {
  background-image: url("./images/checked.png");
}

.attribution {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding-block: 30px;
}
.fa-solid {
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .attribution {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .fa-solid {
    font-size: 1.5rem;
  }
}
